body {
    background-image: url(https://img.freepik.com/fotos-premium/marron-beige-crema-claro-lujo-abstracto-como-fondo-modelo-textura-seda-algodon_1258-54559.jpg
);
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    text-align: center;
    text-emphasis-color: black;
}

footer {
    background-color: white;
    padding: 20px 0;
    text-align: center;
    color: black;
}

.Barra-Navegacion {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: white;
    border-radius: 20px;
}

.Barra-Navegacion li {
    display: inline-block;
}

.Barra-Navegacion li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
}

.Barra-Navegacion li a:hover {
    background-color: #333;
    color: #fff;
}

.Fieldset-Design {
    display: flex;
    justify-content: space-between;
}

.Fieldset-3D {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.Table-Container {
    width: 100%;
    overflow-x: auto;
}

.Table-Center {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 0;
}

.Table-Center td {
    border-bottom: 1px solid black;
    padding: 8px;
    text-align: center;
}

.Table-Center th {
    border-bottom: 1px solid black;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.Pie-Pagina {
    max-width: 960px;
    margin: 0 auto;
}

.Design-Images{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.Design-Images img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.Design-Images img:hover{
    cursor: crosshair;
    width: 150px;
    opacity: 1;
    filter: contrast(120%);
}

.Table-Container-Hobbies {
    display: flex;
    justify-content: center;
  }
  
.Table-Centered-Hobbies {
    border-collapse: collapse;
    margin: 20px;
  }
  
  .Table-Centered-Hobbies th,
  .Table-Centered-Hobbies td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }